html, body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;          
}
a:hover{
    color:#612999;
}

#wrapper {
    margin: 32px 32px 0 32px;
    position: relative;

}

#header{
    width: 1046px;
    height: 64px;
    margin: 32px 32px 122px 32px;
}

ul{
    list-style: none; 
    margin: 0;
    padding: 0; 
}

.menu-list-item{
    font-family: Nunito, sans-serif;
    /* margin: 48px ; */
    font-size: 30px;
    font-weight: 400;
    color: #612999;
    display: inline-block;
    margin-right: 64px;
    /* margin-top: 48px; */
}

.menu-list-item-current-page {
    font-weight: 700;
    color: #612999;
    font-family: Nunito, sans-serif;
    margin-right: 62px;
    font-size: 30px;
    display: inline-block;
}

.full_logo {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin: 0 135px 0 0px;
  }
  
.logo-image {
   height: 64px;  
   width: 64px;
   vertical-align: middle; 
   margin: 0;
  }

.Area2{
    background-image: url("/images/background2.png");
    background-size: cover;       
    background-repeat: no-repeat;
    margin-left: 0px;
    height: 797px;
    width: 100vw;
    margin-left: calc(-32px);
    margin-right: calc(-32px);
    /* margin: 0;
    padding: 0;  */
    /* position: absolute; */
    display: block;
}
    
h4 {
    font-family: Nunito, sans-serif;
    display: inline-block;
    vertical-align:center; 
    margin: 0 0 0 2px;  
    color: #3E3F43;
    letter-spacing: 0.25em;
    font-weight: 700;
    font-size: 24px;
}

.Area2_content{
    width: 448px;
    height: 230px;
    margin-left: 32px;
    margin-top: 32px;

}

h2{
    font-family: Nunito;
    font-weight: 800;
    font-size: 96px;
    color: #612999;
    margin-bottom: 0px;
    margin-top: 32px;
    padding-top: 32px;
}

.Area2_description{
    font-family: Nunito;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

.secondary_title{
    margin-top: 32px;
    font-family: 'Rubik', sans-serif;
}

h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #612999;
}

.three_paragraphs{
    margin: 32px 0 32px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px; 
    letter-spacing: 0%;
    text-align: justify;
    color: black;
}

 .products{
    margin: 32px 352px 246px 0;
}

.flex-container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
  }
  
.flex-container-cards-items {
    flex-basis: calc(50% - 16px); 
    max-width: 376px;
    height: 496px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 38px;
    box-shadow: 0px 6px 40px 0px #3984BB0D;
    background-color: #EFECFF;
}

.image-heart-container{
    position: relative;

}

.card-image {
    width: 376px;
    height: 276px;
    border-radius: 38px;
    object-fit: cover;
    margin-bottom: 21px;
    display: block;
}

.heart-container{
    position: absolute;
    top: 35px;
    left: 287px;
    right: 42px;
    bottom: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.Ellipse-heart{
    display: block;
}

.heart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h6 {
    font-family: 'Abel', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    margin: 0 0 7px 0px;
    text-align:start;
    margin-left: 32px;

}

.cards-writings {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
    text-align:start;
    margin: 0 29px 0 32px;
}

.price-cart-container{
    display: flex;
    align-items: center; 
    gap: 94px; 
}

.price{
    font-family: Abel;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 32px 0px 36px 0px;
    padding-left: 32px;
    text-align: left;
}

.container-cart{
    position: relative;
    width: fit-content;

}

.Ellipse-cart{
    display: block;
}

.cart{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

}

footer{
    margin:0;
    background-color:#EFECFF;
    height: 287px;
    color: #333333;
    font-family: Nunito, sans-serif;
    letter-spacing: 0em;
    width: 100vw;
    /* position: relative; */
    
}

footer a {
    color: #333333;
    margin-left: 0%;
    margin-bottom: 0%;
}

h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
    margin: 0px 0px 8px 32px;
    padding-top: 32px;
}

.footer-list-words{
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin: 0px 0px 8px 32px;
    padding-top: 8px;
}

.footer-icons-container {
  margin-left: 32px;
  padding-top: 8px;
}

.footer-icon {
  margin-right: 24px;
}

.footer-list-rights{
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin: 0px 0px 8px 32px;
    padding-top: 16px;
}

.footer_lists_container{
    display: flex;
    gap: 150px;
}

